# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# TypeScript/React files
[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false 