<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/assets/style.css">
</head>

<body>
    <h1>Posts</h1>
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/configuration">Configuration</a></li>
        </ul>
    </nav>

    {{ if .errors }}
    <div class="alert">
        <ul>
            {{ range .errors }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ if not .githubUser }}
        <article>
            <h1>Click to authenticate to github</h1>
            <button class="redirect-button" onclick="redirectToGithub()">Authenticate</button>
            
            <script>
                function redirectToGithub() {
                    window.location.href = "{{ .githubRedirectURL }}";
                }
            </script>
        </article>
    {{ end }}

    {{ if .githubUser }}<article>
        <h2>Repositories</h2>
        <ul>
            {{ range .files }}
            <li><a href="/editor?organization={{ $.organization }}&repository={{ $.repository }}&branch={{ $.branch }}&path={{ .Path }}">{{ .Path }}</a></li>
            {{ end }}
        </ul>
    </article>
    {{ end }}
</body>

</html>